<a href="https://colab.research.google.com/github/Edwin-Joya/DIGITAL-INNOVATION/blob/main/Clase_presencial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola mundo", "Bienvenidos a programacion computacional III"," Edwin Osmin Joya Colato")

Hola mundo Bienvenidos a programacion computacional III  Edwin Osmin Joya Colato

In [ ]:
nombre = "Edwin Joya"
print(nombre)

Edwin Joya

In [ ]:
#conversor de celsius a f
def cf(c):
   return c*9/5+32

In [ ]:
c = float(input("Grados C:"))
print("G.C a F",cf(c))

Grados C:27
G.C a F 80.6

In [ ]:
grados = lambda c: c*9/5 +32
c = int(input("Grados C:"))
print(grados(c))

Grados C:27
80.6

In [ ]:
celsius = lambda c: c*9/5 +32
c= int(input("Grados Celsius a convertir:"))

print( celsius(c))

Grados Celsius a convertir:27
80.6

In [ ]:
gradosc = [27,30,35,40,45]
grados = lambda c: c*1.8 +32
f = list( map(grados, gradosc))
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

In [ ]:
gradosc = [80.6,86,95,104,113]
grados = lambda f: (f-32)*5/9
f = list( map(grados, gradosc))
print(f)

[26.999999999999996, 30.0, 35.0, 40.0, 45.0]

In [ ]:
#Ejercicio Miercoles 17 
#Algoritmo en python que convierte de celsius a kelvin y viceversa

gradosc = [27,30,35,40,45]
gradosk = [300.15,303.15,308.15,313.15,318.15]

grados = lambda k: (k+273.15)
gradoss = lambda c: (c-273.15)

k = list( map(grados, gradosc))

c = list( map(gradoss, gradosk))
print("Grados C a kelvin",(k))
print("Grados K a Celsius",(c))

Grados C a kelvin [300.15, 303.15, 308.15, 313.15, 318.15]
Grados K a Celsius [27.0, 30.0, 35.0, 40.0, 45.0]

In [ ]:
saludo = "hola"
print(saludo + " Mundo")
print( saludo[0],saludo[1])

hola Mundo
h o

Conversor de divisas
Dolares,Quetzalez, Lempiras, Cordobas, Pesos CR, Euros, Colon SV, Yenes, Soles Peruanos

In [ ]:
#Conversor de monedas 1/3
divisas = ["seleccione una divisa", "Dolares",
           "Quetzalez", "Lempiras","Cordobas",
           "Pesos CR","Euros","Colon SV", 
           "Yenes","Soles Peruanos"
           
           
]
valores =[0,1,7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84]

In [ ]:
#Formula Universal de conversion 2/3
def convertir(de, a, cantidad):
 return valores[a] / valores[de]* cantidad

In [ ]:
#Menu de conversion de divisas 3/3
print("*** MENU ***")
print("Seleccione una divisa")
print("1.Dolares")
print("2.Quetzalez")
print("3.Lempiras")
print("4.Cordobas")
print("5.Pesos CR")
print("6.Euros")
print("7.Colon SV")
print("8.Yenes")
print("9.Soles Peruanos")

*** MENU ***
Seleccione una divisa
1.Dolares
2.Quetzalez
3.Lempiras
4.Cordobas
5.Pesos CR
6.Euros
7.Colon SV
8.Yenes
9.Soles Peruanos

In [ ]:
de = int(input("De: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( divisas[de], " a ", divisas[a], "es", convertir(de, a, cantidad))

De: 6
A: 2
Cantidad: 10
Euros  a  Quetzalez es 78.6734693877551

In [ ]:
#if condicional si

edad = int(input("Dime tu edad: "))
if (edad<=2):
  print("Eres un bebé")
elif(edad<12):
  print("Eres un niño")
elif(edad<18):
  print("Eres un adolescente")
elif(edad<65):
  print("Eres mayor de edad, Tienes responsabilidades")
elif(edad<80):
  print("Eres un adulto mayor")
else:
  print("Larga vida")

Dime tu edad: 2
Eres un bebé

In [ ]:
#Ciclos, while y for
#obtenga la tabla de multiplicar de x numero dada por el usuario
#while
ntabla = int(input("Tabla: "))
i=1
while(i<=10):
  print(ntabla, "X", i, "=", ntabla*i)
  i+=1

In [ ]:
ntabla = int(input("Tabla: "))
for i in range(1, 11):
  print(ntabla, "X", i, "=", ntabla*i)

In [ ]:
s="s"
while s=="s":
  ntabla = int(input("tabla:"))
  for i in range(1,11):
    print(ntabla,"X", i, "=",ntabla*i)
  s = input("Continuar s, Cualquier otra tecla para salir")
print("Salistes")

tabla:1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Continuar s, Cualquier otra tecla para saliru
Salistes

In [ ]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a] / valores[conversor][de] * cantidad

In [ ]:
etiquetas = [
  [],
  ["Seleccione una divisa", "1. Dolares", 
            "2. Quetzalez", "3. Lempiras", "4. Cordobas", 
            "5. Pesos CR", "6. Euros", "7. Colon SV", 
            "8. Yenes", "9. Soles Peruanos", "10. Libras esterlinas"
  ],
  ["Seleccione una opcion", "1. Metro", "2. Milimetro", 
    "3. Centimetro", 
    "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas"],
  ["Sleccione una opcion", "1. Gigabyte", "2. Megabyte", "3. Kilobyte"] #Almacenamiento
]
valores = [[],
    [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84, 0.86], #divisas
    [0, 1, 1000, 100, 3.28084, 1.1963081929167, 1.0936133, 0.001, 0.000621371], #longitudes
    [0,1, 1000, 1000000]
]

In [ ]:
print("**MENU - CONVERSOR**")
print("1. Divisas")
print("2. Longitud")
print("3. Almacenamiento")
opcion = int(input("Conversor: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de = int(input("DE: "))
a = int(input("A: "))
cantidad = int(input("Cantidad: "))
print( "COnversion de ", etiquetas[opcion][de], " a ", etiquetas[opcion][a], " equivale a ", convertir(opcion, de, a, cantidad) )

**MENU - CONVERSOR**
1. Divisas
2. Longitud
3. Almacenamiento
Conversor: 1
CONVERSOR ELEGIDO:  ['Seleccione una divisa', '1. Dolares', '2. Quetzalez', '3. Lempiras', '4. Cordobas', '5. Pesos CR', '6. Euros', '7. Colon SV', '8. Yenes', '9. Soles Peruanos', '10 Libras esterlinas']
DE: 1
A: 10
Cantidad: 100
COnversion de  1. Dolares  a  10 Libras esterlinas  equivale a  86.0

In [ ]:
#Ejercicio 1
sueldo = float(input("Escriba su sueldo "))
deducciones = [3,6,25,27]

ISSS = (sueldo*deducciones[0])/100
AFP = (sueldo*deducciones[1])/100
ISR = (sueldo*deducciones[2])/100

dctoTotal = ISSS+AFP+ISR
total = sueldo-dctoTotal

print("**Deducciones**")
print("ISSS: ", ISSS)
print("AFP: ",AFP)
print("ISR: ",ISR)
print("**Sueldo Total**")
print("Sueldo Neto: ",total)

Escriba su sueldo 1500
**Deducciones**
ISSS:  45.0
AFP:  90.0
ISR:  375.0
**Sueldo Total**
Sueldo Neto:  990.0

**ESTRUCTURAS DE CONTROL**

In [ ]:
#if condicional si

edad = int(input("Dime tu edad: "))
if(edad<=2):
  print("Eres un bebe")
elif(edad<12):
  print("Edad un niño")
elif (edad<18):
  print("Eres un adolescente")
elif(edad<65):
  print("Eres mayor de edad, tienes responsabilidades")
elif(edad<80):
  print("Eres un adulto mayor")
else:
  print("Larga vida")

In [ ]:
#Ciclos, while y for
#obtenga la tabla de multiplicar de x numero dada por el usuario
#while
ntabla = int(input("Tabla: "))
i=1
while(i<=10):
  print(ntabla, "X", i, "=", ntabla*i)
  i+=1

Tabla: 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [ ]:
ntabla = int(input("Tabla: "))
for i in range(1, 11):
  print(ntabla, "X", i, "=", ntabla*i)

Tabla: 1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

In [ ]:
#HAcer un programa en python que genera la tabla de multiplicar dada por el usuario, hasta que el usuario desida salir
s="s"
while s=="s":
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "X", i, "=", ntabla*i)
  s = input("Continuar s, cualquier otra tecla para salir ")
print("Salistes...")

In [ ]:
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a] / valores[conversor][de] * cantidad

In [ ]:
etiquetas = [
  [],
  ["Seleccione una divisa", "1. Dolares", 
            "2. Quetzalez", "3. Lempiras", "4. Cordobas", 
            "5. Pesos CR", "6. Euros", "7. Colon SV", 
            "8. Yenes", "9. Soles Peruanos"
  ],
  ["Seleccione una opcion", "1. Metro", "2. Milimetro", 
    "3. Centimetro", 
    "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas"],
  ["Sleccione una opcion", "1. Gigabyte", "2. Megabyte", "3. Kilobyte"] #Almacenamiento
]
valores = [[],
    [0,1, 7.71, 24.51, 35.77, 664.64, 0.98, 8.75, 134.13, 3.84], #divisas
    [0, 1, 1000, 100, 3.28084, 1.1963081929167, 1.0936133, 0.001, 0.000621371], #longitudes
    [0,1, 1000, 1000000]

In [ ]:
print("**MENU - CONVERSOR**")
print("1. Divisas")
print("2. Longitud")
print("3. Almacenamiento")
opcion = int(input("Conversor: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de = int(input("DE: "))
a = int(input("A: "))
cantidad = int(input("Cantidad: "))
print( "COnversion de ", etiquetas[opcion][de], " a ", etiquetas[opcion][a], " equivale a ", convertir(opcion, de, a, cantidad) )

**PARCIAL 1**

In [ ]:
#Ejercicio 1
sueldo = float(input("Escriba su sueldo "))
deducciones = [3,6,25,27]

ISSS = (sueldo*deducciones[0])/100
AFP = (sueldo*deducciones[1])/100
ISR = (sueldo*deducciones[2])/100

dctoTotal = ISSS+AFP+ISR
total = sueldo-dctoTotal

print("**Deducciones**")
print("ISSS: ", ISSS)
print("AFP: ",AFP)
print("ISR: ",ISR)
print("**Sueldo Total**")
print("Sueldo Neto: ",total)

Escriba su sueldo 1000
**Deducciones**
ISSS:  30.0
AFP:  60.0
ISR:  250.0
**Sueldo Total**
Sueldo Neto:  660.0

**PARCIAL**

In [ ]:
#Ejercicio 1 parcial
salario = float (input("Ingresa tu sueldo: "))
tpoTrabajo = int(input("Escribe el tiempo que llevas en la empresa (En años) **nota** Escribe 0 si llevas menos de 1 año:"))
AFP = round(salario*0.0725,2)
AFP2 = round(salario*0.0775,2)
ISSS = salario*0.03
ISSS2 = salario*0.075
tramo = salario-AFP-ISSS
neto = salario-AFP-30.0
quince = round(tramo/2,2)
vacaciones = quince*0.3
totalv = round(vacaciones+quince, 2)


if (tramo <= 472):
  

  print("ISSS:.................",ISSS , "\nISSS Patronal:....... ", ISSS2, "\nAFP:..................", AFP , "\nAFP Patronal:.........", AFP2,"\nISR:.................. 0", "\nSalario neto mensual: ", tramo , "\n\n***Sueldo por vacaciones***",
        "\nSalario quincenal:   ", quince, "\nTotal por vacaciones ",totalv )
  
elif(tramo>=472.01) and (tramo<=895.24):
  
  renta = round((tramo-472.01)*0.10+17.67,2)
  Sneto = round(tramo - renta,2)
  print("ISSS:.................",ISSS , "\nISSS Patronal:........", ISSS2, "\nAFP:..................", AFP , "\nAFP Patronal:.........", AFP2,"\nISR:..................", renta,  "\nSalario neto mensual: ", Sneto , "\n\n***Sueldo por vacaciones***",
        "\nSalario quincenal:    ", quince, "\nTotal por vacaciones: ",totalv )

elif(tramo>=895.25) and (tramo<=2038.10):
 if(tramo>=1000):

   renta = round((neto-895.25)*0.20+60,2)
   Sneto = round(neto - renta,2)
   print("ISSS:................. 30.0", "\nISSS Patronal:........ 75.0", "\nAFP:..................", AFP , "\nAFP Patronal:.........", AFP2,"\nISR:..................", renta,  "\nSalario neto mensual: ", Sneto , "\n\n***Sueldo por vacaciones***",
        "\nSalario quincenal:    ", quince, "\nTotal por vacaciones: ",totalv )

 else:
   renta = (tramo-895.25)*0.20+60
   Sneto = round(neto - renta,2)
   print("ISSS:..........",ISSS , "\nISSS Patronal:...........", ISSS2, "\nAFP:...........", AFP , "\nAFP Patronal:  ", AFP2,"\nISR:...........  ", renta,  "\nSalario neto mensual: ", Sneto , "\n\n***Sueldo por vacaciones***",
        "\nSalario quincenal:    ", quince, "\nTotal por vacaciones: ",totalv )

else:
 renta = round((neto-2038.11)*0.30+288.57,2)
 Sneto = round(neto - renta,2)
 print("ISSS:................. 30.0", "\nISSS Patronal:........ 75.0", "\nAFP:..................", AFP , "\nAFP Patronal:.........", AFP2,"\nISR:..................", renta,  "\nSalario neto mensual: ", Sneto , "\n\n***Sueldo por vacaciones***",
        "\nSalario quincenal:    ", quince, "\nTotal por vacaciones: ",totalv )
 
 
 
 
 
 
print("\n***aguinaldos***")
if (tpoTrabajo<1):
  print("Tienes menos de un año laborado")
  dias = int(input("Ingresa cuantos dias llevas trabajados"))
  aguinaldo = round((salario/30)*(15)/365*dias,2)
  print("Dias trabajados: ", dias , "\nAguinaldo: ",aguinaldo)


elif(tpoTrabajo>=1) and (tpoTrabajo<3):
  print("Tienes", tpoTrabajo , "Años trabajando")
  aguinaldo = round((salario/30)*15, 2)
  print("Aguinaldo: ",aguinaldo) 


elif(tpoTrabajo>=3) and (tpoTrabajo<10):
  print("Tienes", tpoTrabajo , "Años trabajando")
  aguinaldo = round((salario/30)*19, 2)
  print("Aguinaldo: ",aguinaldo) 

else:
  print("Tienes", tpoTrabajo , "Años trabajando **Felicidades**")
  aguinaldo = round((salario/30)*21, 2)
  print("Aguinaldo: ",aguinaldo)

Ingresa tu sueldo: 400
Escribe el tiempo que llevas en la empresa (En años) **nota** Escribe 0 si llevas menos de 1 año:2
ISSS:................. 12.0
ISSS Patronal:.......  30.0
AFP:.................. 29.0
AFP Patronal:......... 31.0
ISR:.................. 0
Salario neto mensual:  359.0

***Sueldo por vacaciones***
Salario quincenal:    179.5
Total por vacaciones  233.35

***aguinaldos***
Tienes 2 Años trabajando
Aguinaldo:  200.0

In [ ]:
def calcular():
    monto = float(input("Ingrese el monto de su empresa: "))
    impuesto = monto + 0.01/1000 * 0 +1.5  
    print("EL IMPUESTO del monto de su Empresa es: $",monto)
    Mtotal = monto - impuesto
    print("El monto total es de : $", Mtotal)

calcular()

In [ ]:

###Malo
def calcular():
    monto = float(input("Ingrese el monto de su empresa: "))
    impuesto = monto + 0.01/1000 * 0 +1.5  
    print("EL IMPUESTO del monto de su Empresa es: $",monto)
    Mtotal = monto - impuesto
    print("El monto total es de : $", Mtotal)

calcular()

Ingrese el monto de su empresa: 100
EL IMPUESTO del monto de su Empresa es: $ 100.0
El monto total es de : $ -1.5

Escribe el monto que deseas pagar: 65000
Numero 9
Total a pagar: $ 97.0

In [ ]:
#Ejercicio 4 cajero Automatico




dinero = int(input( " Ingrese la cantidad de dinero : " ) )
lista = [ 50 , 20 ,10 , 5 , 2 , 1 , 0.25 , 0.10 , 0.05, 0.01 ]
for i in lista:
    if dinero >= i:
        queda = dinero // i
        print ( str ( queda ) +
              ( ' billete' if dinero >= 10 else 'moneda') + ('s' if queda > 1 else '' ) +
              " de: " + str (i) + " Dolares " )
        dinero = dinero % i

 Ingrese la cantidad de dinero : 100
2 billetes de: 50 Dolares

In [ ]:
cantidad = float(input("Escribe la cantidad a pagar:  "))

importe = [[],
             [0, 0.01, 500.01, 1000.01, 2000.01, 3000.01, 8000.01, 18000.01, 30000.01, 60000.01, 100000.01, 200000.01, 300000.01, 400000.01, 500000.01, 1000000.01],
             [0, 1.5, 3, 6, 9, 15, 39, 63, 93, 125, 195, 255, 300, 340, 490], 
             [0, 3, 2, 1, 0.8, 0.7, 0.6, 0.45, 0.4, 0.30, 0.18]]



if cantidad >= 0.01 and cantidad <= 500:

 print("***Fila numero 1***")
 total = round((cantidad-importe[1][1])/1000*importe[3][0]+importe[2][1], 2)
 print("Total a pagar: ", total , "USD")

elif cantidad >= 500.01 and cantidad <= 1000:

 print("***Fila numero 2***")
 total = round((cantidad-importe[1][2])/1000*importe[3][1]+importe[2][1], 2)
 print("Total a pagar: ", total, "USD")

elif cantidad >= 1000.01 and cantidad <= 2000:

 print("***Fila numero 3***")
 total = round((cantidad-importe[1][3])/1000*importe[3][1]+importe[2][2], 2)
 print("Total a pagar: ", total, "USD")


elif cantidad >= 2000.01 and cantidad <= 3000:

 print("***Fila numero 4***")
 total = round((cantidad-importe[1][4])/1000*importe[3][1]+importe[2][3], 2)
 print("Total a pagar: ", total, "USD")

elif cantidad >= 3000.01 and cantidad <= 6000:  

 print("***Fila numero 5***")
 total = round((cantidad-importe[1][5])/1000*importe[3][2]+importe[2][4], 2)
 print("Total a pagar: ", total, "USD")

elif cantidad >= 6000.01 and cantidad <= 18000:  

 print("***Fila numero 6***")
 total = round((cantidad-importe[1][6])/1000*importe[3][2]+importe[2][5], 2)
 print("Total a pagar: ", total, "USD")

elif cantidad >= 18000.01 and cantidad <= 30000:

 print("***Fila numero 7***")
 total = round((cantidad-importe[1][7])/1000*importe[3][2]+importe[2][6], 2)
 print("Total a pagar: ", total, "USD")

elif cantidad >= 30000.01 and cantidad <= 60000:
  
 print("***Fila numero 8***")
 total = round((cantidad-importe[1][8])/1000*importe[3][3]+importe[2][7], 2)
 print("Total a pagar: ", total, "USD")


elif cantidad >= 60000.01 and cantidad <= 100000:

 print("***Fila numero 9***")
 total = round((cantidad-importe[1][9])/1000*importe[3][4]+importe[2][8], 2)
 print("Total a pagar: ", total, "USD")

elif cantidad >= 100000.01 and cantidad <= 200000:

 print("***Fila numero 10***")
 total = round((cantidad-importe[1][10])/1000*importe[3][5]+importe[2][9], 2)
 print("Total a pagar: ", total, "USD")


elif cantidad >= 200000.01 and cantidad <= 300000:

 print("***Fila numero 11***")
 total = round((cantidad-importe[1][11])/1000*importe[3][6]+importe[2][10], 2)
 print("Total a pagar: ", total, "USD")
    
elif cantidad >= 300000.01 and cantidad <= 400000:

 print("***Fila numero 12***")
 total = round((cantidad-importe[1][12])/1000*importe[3][7]+importe[2][11], 2)
 print("Total a pagar: ", total, "USD")
  
elif cantidad >= 400000.01 and cantidad <= 500000:

 print("***Fila numero 13***")
 total = round((cantidad-importe[1][13])/1000*importe[3][8]+importe[2][12], 2)
 print("Total a pagar: ", total, "USD") 

elif cantidad >= 500000.01 and cantidad <= 1000000:

 print("***Fila numero 14***")
 total = round((cantidad-importe[1][14])/1000*importe[3][9]+importe[2][13], 2)
 print("Total a pagar: ", total, "USD")
  
elif cantidad >= 1000000.01 and cantidad <= 99999999:

 print("***Fila numero 15***")
 total = round((cantidad-importe[1][15])/1000*importe[3][10]+importe[2][14], 2)
 print("Total a pagar: ", total, "USD")

else:

 print("No ha introducido un valor correcto", "\nSaliendo...")

***Fila numero 5***
Total a pagar:  13.0 USD

**CLASE VIRTUAL**

In [ ]:
#polimosfismo

num1 = 5.5
num2 = 4
print("Suma: ", num1 + num2)

nombre = "Edwin "
saludo = "Hola " + nombre
print(saludo)

Suma:  9.5
Hola Edwin

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#USO del paradigma del Programacion Orientada a Objetos
class deducciones:
  def __init__(self, sueldo, porcentajeIsss, porcentajeAfp, tablaIsr):
    self.sueldo = sueldo
    self.porcentajeIsss = porcentajeIsss
    self.porcentajeAfp = porcentajeAfp
    self.tablaIsr = tablaIsr
  
  def calcularIsss(self):
    return self.sueldo*self.porcentajeIsss/100

  def calcularAfp(self):
    return self.sueldo*self.porcentajeAfp/100
  
  def calcularIsr(self):
    self.sueldoNeto = self.sueldo - (self.calcularIsss() + self.calcularAfp())
    self.isr = 0
    for tramo in self.tablaIsr:
      if self.sueldoNeto>=tramo[0] and self.sueldoNeto<=tramo[1]:
        self.isr = (self.sueldoNeto - tramo[0])*tramo[2]/100 + tramo[3]
    return self.isr

In [ ]:
#ISSS
porcentajeIsssP = 3 #esta valor puede venir de una base de datos
porcentajeIsssE = 7.5
#aFP
porcentajeAfpP = 6.25
porcentajeAfpE = 7.75
#ISR
tablaIsr = [
    [0.01,    472,     0,  0],     #tramo I
    [472.01,  895.24,  10, 17.67], #tramo II
    [895.25,  2038.10, 20, 60],    #tramo III
    [2038.11, 9999999, 30, 288.57] #tramo IV
]

In [ ]:
 sueldo = float(input("Sueldo: "))

objDp = deducciones(sueldo, porcentajeIsssP, porcentajeAfpP, tablaIsr)
objDe = deducciones(sueldo, porcentajeIsssE, porcentajeAfpE, tablaIsr)

print("ISSS - Personas: ", round(objDp.calcularIsss(),2), "ISSS - Empresa:", round(objDe.calcularIsss(),2))
print("AFP - Personas: ", round(objDp.calcularAfp(),2), "AFP - Empresa: ", round(objDe.calcularAfp(), 2))
print("Isr - Personas: ", round(objDp.calcularIsr(),2) )

Sueldo: 500
ISSS - Personas:  15.0 ISSS - Empresa: 37.5
AFP - Personas:  31.25 AFP - Empresa:  38.75
Isr - Personas:  0.0

In [1]:
#Importamos la libreria pandas
import pandas as pd

In [10]:
lenguajes ={
  0:"VB",
  1:"C#",
  2:"JAVA",
  3:"XML",
  4:"PYTHON",
  5:"JS",
  6:"HTML",
  7:"CSS",
  8:"PHP",
         
};
pdLenguajes = pd.Series(lenguajes);
print( lenguajes, dict(pdLenguajes) );

pdLeng = pd.Series(["VB", "CH", "JAVA","XML", "PYTHON"], index=[1,2,3,4,5])
print( dict(pdLeng), pdLeng[1] )

{0: 'VB', 1: 'C#', 2: 'JAVA', 3: 'XML', 4: 'PYTHON', 5: 'JS', 6: 'HTML', 7: 'CSS', 8: 'PHP'} {0: 'VB', 1: 'C#', 2: 'JAVA', 3: 'XML', 4: 'PYTHON', 5: 'JS', 6: 'HTML', 7: 'CSS', 8: 'PHP'}
{1: 'VB', 2: 'CH', 3: 'JAVA', 4: 'XML', 5: 'PYTHON'} VB